# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Virtual Environment
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*

# Project specific
testing.md